
body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	color: #6a708e;
	font-size:16px;
	padding:0;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#43485c;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}
p {
	margin: 0;
	line-height:1.8;
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{
    height: 100%;
	position: relative;
    scroll-behavior: smooth;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}

.fix{position: relative;clear: both;}
/*=============Style css=========*/

/*-------------------------------------
        2. Header
--------------------------------------*/

.top-area{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}
/*.navbar-brand*/
.navbar-header a.navbar-brand,.navbar-header a.navbar-brand:hover,.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: #d92cf9;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/*.nav li*/
.nav-menu ul.nav > li > a {
    font-size: 16px;
    font-weight: 400;
    color: #9f00ff;
    text-transform:uppercase;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}

.nav-menu ul.nav > li > a.nav-link:hover{
    color: #d92cf9;
}

.navbar-header-body{
    text-align: right;
}
/*-------------------------------------
        2. Intro Page
--------------------------------------*/
.intro-page{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../images/about/profile.jpg)no-repeat;
    background-size:cover;
    background-position:center ;
    height: 680px;
    margin-top: 57px;;
}
.intro-page:before{
    position:absolute;
    content: " ";
    left:0;
    background:rgba(73, 31, 108, 0.65);
    width:100%;
    height:100%;
}

/*intro-text-area*/
.intro-text h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.5;
}
.intro-text h2 span {color: #d92cf9;}
.intro-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 0 60px;
    letter-spacing: 1px;
}
.intro-text a {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #b636ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.4s linear; 
    -moz-transition: 0.4s linear; 
    -ms-transition: 0.4s linear; 
    -o-transition: 0.4s linear; 
    transition: 0.4s linear;
}

/*-------------------------------------
        .  About
--------------------------------------*/
.about {padding: 30px 0 80px;}
.about-content {padding-top: 70px;}
/*.single-about-txt*/
.single-about-txt h3 {
    margin-top: -33px;
    font-size:18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}
.single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
}
.single-about-add-info {
    margin: 35px 0;
}
.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}
.single-about-add-info p {font-weight:  300;border:  0;padding: 0;margin-top: 3px;}
/*.single-about-txt*/

.about-video video {
    max-width: 500px;
    margin-top: -30px;
}
.about-list-icon{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 12px;
    width: 105%;
    height: 90px;
    background: #1f2c6c;
}
/*.ab-list-icon */
.about-list-icon ul {
    padding-top: 20px;
    display: flex;
}

.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    padding: 5px;
}
/*.ab-list-icon */

/*-------------------------------------
        5.  Education
--------------------------------------*/

.education {
    background:  #f9fbfd;
    padding-top:  50px;
}
.educational-timeline {
    padding: 80px 0;
}

/*.education-horizontal-timeline*/
.educational-timeline .col-sm-4 {padding:0 2px;}

.educational-timeline .academics h3{
    text-transform: uppercase;
}

.educational-timeline h4 {margin: 15px 0;}
.educational-timeline p {color: #999fb3;max-width: 335px;}
.educational-timeline .academics .college h5{text-transform: uppercase;}

/*-------------------------------------
        6.  Projects
--------------------------------------*/
.projects {
    background-color: #e6ecf3;
}
.project-content{padding: 50px 0 60px;}
.single-skill-content{padding-top: 100px;}
.project-heading {
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5ebf2;
}

.project-title{
    text-align: center;
}
.project-title h4{
    text-transform: uppercase;
}

.project-description>p{
    font-size: 16px;
    padding: 20px 0 20px;
}

/*-------------------------------------
        7. Experience
-------------------------------------*/
.experience {
    padding: 50px 0 100px;
    border-top: 1px solid #e5ebf2;
}
.experience-content {padding-top: 100px;}
.single-timeline-box {margin-bottom: 75px;}

/*experience-time*/
.experience-time {
    position: relative;
}
.experience-time h2 {
    font-weight: 400;
}
/*experience-time*/

/*main-timeline*/
.main-timeline{
    position: relative;
}


.timeline-content h4.title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.timeline-content h5 {
    color: #636a82;
    font-size: 14px;
    font-weight: 300;
    margin: 18px 0 20px;
}
.main-timeline .description {
    font-size: 14px;
    color: #999fb3;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}


.experience-time-responsive{display: none;}
/*-------------------------------------
        8. Hobbies
--------------------------------------*/
.hobbies {
    padding:  50px 0 100px;
    border:  1px solid #e5ebf2;
}

.hobbies-content {padding-top: 100px;}
.hobbies-content .col-sm-6{padding:10px;}
.single-hobbie {
    position: relative;
    text-align: center;
}

.hobbies-txt {
    position: relative;
    text-align: center;
}
.single-hobbie {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #b2c1ce;
    overflow:hidden;
    -webkit-transition:background 0.5s linear; 
    -moz-transition:background 0.5s linear; 
    -ms-transition:background 0.5s linear; 
    -o-transition:background 0.5s linear; 
    transition:background 0.5s linear;
}

.hobbie-description>p{
    font-size: 20px;
    color: #e5ebf2;
    text-transform: lowercase;
}

.single-hobbie-overlay{
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width:100%;
    height: 100%;
    color: white;
    background: #5e2b7c79;
    background: -moz-linear-gradient(left, #6f277ce7 0%, #5e2b7c79 100%);
    background: -webkit-linear-gradient(left, #6f277ce7 0%,#5e2b7c79 100%);
    background: linear-gradient(to right, #6f277ce7 0%,#5e2b7c79 100%);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.single-hobbie .single-hobbie-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    top:0;
}
input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height:1.5rem;
    position: relative;
    
  }
  input[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgba(white, 1);
    background-color: white;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px mediumvioletred;

    line-height: 1.5rem;
    text-align: center;
    transition:
      background-color 350ms 0ms ease,
      color 350ms 250ms ease,
      font-size 350ms 250ms ease;
  }
  
input[type="checkbox"]:checked::after {
    content: "\02714";
    color: rgba(white, 4);
    background-color: #b636ff;
    font-size: 1.5rem;
  }

#Swimming, #Stock-analysis, #Travelling, #Cooking {
    display: none;
}
.hob-button{
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #b636ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.4s linear; 
    -moz-transition: 0.4s linear; 
    -ms-transition: 0.4s linear; 
    -o-transition: 0.4s linear; 
    transition: 0.4s linear;
}

.hob-button:disabled{
    background: #b2c1ce;
}

.hobbie-modal-close-button{
    width: 150px;
    height: 50px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: darkgray;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.4s linear; 
    -moz-transition: 0.4s linear; 
    -ms-transition: 0.4s linear; 
    -o-transition: 0.4s linear; 
    transition: 0.4s linear;
    border-radius: 2px;
}
.hobbie-modal-button{
    width: 150px;
    height: 50px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #b636ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.4s linear; 
    -moz-transition: 0.4s linear; 
    -ms-transition: 0.4s linear; 
    -o-transition: 0.4s linear; 
    transition: 0.4s linear;
    border-radius: 2px;

}

.hobbie-modal-button::hover{
    color: #fff;
    background: #681677;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.4s linear; 
    -moz-transition: 0.4s linear; 
    -ms-transition: 0.4s linear; 
    -o-transition: 0.4s linear; 
    transition: 0.4s linear;
}

.single-hobbie:hover  img{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
}
.single-hobbie img{
    width:100%;
    height:100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.hobbie-title h4{
    color: white;
}

.register{
    padding:  50px 0 100px;
    border:  1px solid #e5ebf2;
    background: #e6ecf3;
}

.registration-content{
    text-align: center;
}
.footer-copyright{
    background: #b2c1ce;
}
.hm-footer-copyright p a {color: #888ea5;}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}
/*========================Thank you=================